{% extends "admin_panel.html.twig" %}

{% block title %}Admin Order Add{% endblock %}

{% block content %}
    <div class="left_content">  
        <form method="post" enctype="multipart/form-data" >
            <table id="rounded-corner">
                <tr>
                    <th colspan="4"><label>Order Management </label></th>
                    <th colspan="2">{{v.ID}}</th> 
                </tr>
                <tr>
                    <td><label>UserID</label></td>
                    <td><input type="text" name="userID" placeholder="Required userID"  required="required" /></td>
                    <td><label>name</label></td>
                    <td><input type="text" name="name" placeholder="0"  /></td> 
                    
                </tr>
                <tr>
                    <td><label>address</label></td>
                    <td><input type="text" name="address" placeholder="Required address"  /></td>
                    <td><label>PostalCode</label></td>
                    <td><input type="text" name="postalCode" placeholder="PostalCode" value="{{v.postalCode}}"/></td> 
                </tr>
                <tr>
                    
                    <td><label>email</label></td>
                    <td><input type="text" name="email" placeholder="OK" /></td>
                    <td><label>phoneNumber</label></td>
                    <td><input type="text" name="phoneNumber" placeholder="PostDate" /></td>
                </tr>
                <tr>
                    <td><label>totalBeforeTax</label></td>
                    <td><input type="text" name="totalBeforeTax" placeholder="PostalCode" value="{{v.postalCode}}"/></td> 
                    
                    <td><label>taxes</label></td>
                    <td><input type="text" name="taxes" placeholder="taxes" /></td>
                </tr>
                <tr>
                    <td><label>totalWithShippingAndTaxes</label></td>
                    <td><input type="text" name="totalWithShippingAndTaxes" placeholder="totalWithShippingAndTaxes" value="{{v.postalCode}}"/></td> 
                    <td><label>dateTimePlaced</label></td>
                    <td><input type="text" name="dateTimePlaced" placeholder="shippingBeforeTax" /></td>
                    
                </tr>
                <tr>
                    <td><label>dateTimeShipped</label></td>
                    <td><input type="text" name="dateTimeShipped" placeholder="dateTimeShipped" /></td>
                    <td><label>shippingBeforeTax</label></td>
                    <td><input type="text" name="shippingBeforeTax" placeholder="shippingBeforeTax" /></td>
                </tr>
                <tr>
                    
                    <td><label>status</label></td>
                    <td><input type="text" name="status" placeholder="status" /></td>
                </tr>
            </table>

            <div class="login-footer">
                <div class ="error-message">
                    {% if errorList %}
                        <ul class="errorList">
                            {% for error in errorList %}
                                <li>{{ error }}</li>
                                {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <br>
                <button type="submit" id="button_manage">Add Order</button><br>

                {% if error %}
                    <p class="errorList">Add Order failed try again.</p>
                {% endif %}

            </div> <!--login-footer-->
        </form>
    </div>   <!--end of center content --> 
    <div class="right">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <a href="admin_product_add" class="bt_green"><span class="bt_green"></span><strong>Add Anthor One </strong><span class="bt_green_r"></span></a>
        <a href="admin_product" class="bt_blue"><span class="bt_blue_lft"></span><strong>List all Product</strong><span class="bt_blue_r"></span></a>
        <a href="#" class="bt_red"><span class="bt_red_lft"></span><strong>Delete Product</strong><span class="bt_red_r"></span></a>   
    </div>

{% endblock content %}

